.App {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #171718;
  color: #fff;
}

.scroll-container {
  padding: 180px 0 0 0;
}
