.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px 64px;
  gap: 24px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-content__title {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-content__description {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  /* width: 334px;
  height: 546px; */
  background: #26292D;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.contact-form__label {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
}

.contact-form__name {
  flex: none;
order: 0;
flex-grow: 0;
}

.contact-form__email {
  flex: none;
order: 1;
flex-grow: 0;
}

.contact-form__textarea {
  flex: none;
order: 2;
flex-grow: 0;
}
