.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px 64px;
  gap: 24px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 328px;
height: 114px;
}

.contact-content__title {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.contact-content__description {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 328px;
height: 48px;
text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 24px;
  gap: 24px;
  width: 334px;
  /* height: 546px; */
  background: #26292D;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.contact-form__label {
  display: flex;
flex-direction: column;
/* align-items: flex-start; */
padding: 0px;
gap: 8px;
}

.contact-form__name {
  flex: none;
order: 0;
flex-grow: 0;
}

.contact-form__email {
  flex: none;
order: 1;
flex-grow: 0;
}

.contact-form__textarea {
  flex: none;
order: 2;
flex-grow: 0;
}

.name__input,
.email__input,
.form__textarea {
  display: flex;
flex-direction: row;
align-items: center;
padding: 16px 20px;
gap: 252px;
background: #1C1E22;
border: 1px solid #A0A0A1;
border-radius: 8px;
flex: none;
order: 1;
flex-grow: 0;
height: 40px;
color: #FFFFFF;
}

.form__textarea {
  height: 150px;
}

.contact-form__success {
  color: #35b362;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  flex: none;
  margin: 0;
  order: 3;
  flex-grow: 0;
text-align: center;
}

.contact-form__error {
  color: #FF0000;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  flex: none;
  order: 3;
  flex-grow: 0;
text-align: center;
}

.contact-from__submit {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 8px;
gap: 10px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
background: #5C62EC;
color: #FFFFFF;
border-radius: 8px;
flex: none;
order: 3;
flex-grow: 0;
}

/* Desktop version */
@media (min-width: 768px) {
  .contact-container {
    padding: 64px 397px 128px;
    gap: 44px;
    /* width: 1440px; */
  }

  .contact-content {
    width: 648px;
  }

  .contact-content__title {
    font-weight: 700;
font-size: 60px;
line-height: 71px;
letter-spacing: -0.5px;
  }

  .contact-content__description {
    font-size: 16px;
line-height: 20px;
letter-spacing: 0.15px;
width: 648px;
  }
}