.cursor {
  background-color: transparent;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 1px solid #5c62ec;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}