.header {
  width: 100%;
  height: 492px;
  /* padding-bottom: 150px; */
}

.header-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.header-content-name {
  font-size: 34px;
  line-height: 50px;
  margin: 0;
  text-align: center;
  letter-spacing: 0.25px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fafafa;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.header-content-name span {
  color: #5c62ec;
}

.header-content-summary {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.header-content-summary p {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #fff;
}

.header-content-details-contact {
  flex: none;
  order: 1;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 16px;
  width: 170px;
}

.header-button-see-projects {
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  gap: 10px;
  background: #5c62ec;
  border-radius: 5px;
  width: 169px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
}

.header-button-cv,
.about-me__container__text__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  gap: 8px;
  border: 1px solid #fff;
  border-radius: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 169px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  background-color: transparent;
  color: #fff;
}
