.header {
  width: 100%;
  height: calc(100vh - 69px);
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  justify-content: center;
}

.header-content-details-contact-link a {
  pointer-events: all;
  color: white;
  text-decoration: none;
}

.header-content-name,
.react-typewriter-text {
  font-size: 34px;
  line-height: 50px;
  margin: 0;
  text-align: center;
  letter-spacing: 0.25px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fafafa;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.header-content-name span {
  color: #5c62ec;
}

.header-content-summary {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.header-content-summary p {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #fff;
}

.header-content-details-contact {
  flex: none;
  order: 1;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 16px;
  width: 170px;
}

.header-button-see-projects {
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 169px;
  background: #5c62ec;
  border-radius: 5px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border: 1px solid #5c62ec;
  transition: background-color 1s cubic-bezier(0.11, 0, 0.5, 0) 0s;
  box-shadow: 5px 8px 14px 13px rgb(0 0 0 / 25%);
}

.header-button a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  padding: 16px 0;
}

.header-button a:hover {
  color: #5c62ec;
}

.header-button-cv,
.about-me__container__text__button,
.about__container__text__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 169px;
  border: 1px solid #fff;
  border-radius: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  background-color: transparent;
  color: #fafafa;
  transition: background-color 1s cubic-bezier(0.11, 0, 0.5, 0) 0s;
  box-shadow: 5px 8px 14px 13px rgb(0 0 0 / 25%);
}

.header-button-cv:hover,
.header-button-see-projects:hover,
.about-me__container__text__button:hover {
  background-color: #fafafa;
  color: #5c62ec;
  border: 1px solid #5c62ec;
}

/* Desktop version */
@media (min-width: 768px) {
  .header {
    padding-top: 0;
    margin-bottom: 50px;
  }

  .header-content {
    top: 140px;
    justify-content: start;
  }

  .header-content-name,
  .react-typewriter-text {
    font-weight: 700;
    font-size: 60px;
    line-height: 71px;
    letter-spacing: -0.5px;
  }

  .header-content-summary p {
    font-size: 20px;
    line-height: 24px;
  }

  .header-content-details-contact {
    flex-direction: row;
    gap: 24px;
  }
}

/* Larger screens */
@media (min-width: 1367px) {
  .header {
    padding-top: 0;
    margin-bottom: 50px;
  }

  .header-content {
    top: 0;
    justify-content: center;
  }
}
