.skills__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px 64px;
}

.skills__container__title {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.skills__container__skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.skills__container__skills__skill {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  background: #1c1e22;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.skills__container__skills__skill__image {
  width: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.skills__container__skills__skill__title {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0;
}

.skills__container__skills__skill__description {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

/* Desktop version */
@media screen and (min-width: 768px) {
  .skills__container {
    padding: 0 165px 128px;
    gap: 60px;
  }

  .skills__container__skills {
    display: grid;
    grid-template-columns: 354px 354px 354px;
  }

  .skills__container__skills__skill {
    height: 245px;
  }
}
