.skills__container {
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px 16px 64px;
gap: 32px;
/* height: 1484px; */
}

.skills__container__title{
  font-family: 'DM Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}
.skills__container__skills {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;
/* width: 330px; */
/* height: 1356px; */
flex: none;
order: 1;
flex-grow: 0;
}

.skills__container__skills__skill {
  display: flex;
  flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 10px;
/* width: 330px; */
/* height: 206px; */
background: #1C1E22;
border-radius: 8px;
flex: none;
order: 0;
flex-grow: 0;
}

.skills__container__skills__skill__title {
  font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.15px;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}

.skills__container__skills__skill__description {
  font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.25px;
color: #FFFFFF;
flex: none;
order: 2;
flex-grow: 0;
}
